@import '../../../assets/global.scss';
@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';

.Accommodations {@include sec-default();
  ul p{margin:0 0 10px;}
  
  .midSec {@include sec-default(); padding:30px 0 0px;}
  
  .photoGall {@include sec-default(); text-align: center; margin-left:0; margin-top:50px;

    .photoLI{display: inline-block; margin-right: 15px;
      img{height: 450px; width:auto;}
    }
    .SlideNav {margin-top: 20px; text-align:center;
      li a{background: $color1; border-color:$color2;}
    }

    .uk-position-center-left.uk-position-small,
    .uk-position-center-right.uk-position-small,
    .ArrowRules{z-index:9999; background-color: rgba($black,.5); color:$white;
      span{font-size:30px;}
    }
  }
  
  .tabHD{background-color:$color2; text-align: center;}
  .tabName{font-size:16px; text-transform: none; letter-spacing:.5px;font-family: $body; font-weight:600; text-shadow: 0px 1px 2px rgba($black,.3);}
  
  
  .APtop{@include sec-default(); padding:60px 0; border-bottom:4px solid $color2;  border-top:4px solid $color2;  
    .APTleft, .APTright {display: inline-block; width:30%;}
    .APTright{width:70%; float:right;}
    .APTleft{position: relative; z-index: 0; margin-top:20px;
      &::before{@include before(); width: 75px; height: 75px; background-color: $lt2; left:-20px; top:-20px;}
    }
    p b{text-decoration: underline; color: $color1;}
    
    
    .APTleft {width:37%;
      &::before{display:none;}
    } 
    .APTright {width:60%;}
    
  }
  
  .APlodge{ @include sec-default(); padding: 60px 0;
    li{font-family: $chels;margin-bottom:10px;}
    
    .APLtop{
      @include sec-default(); text-align:center; padding-bottom:20px; margin-bottom:70px;
      position: relative; z-index: 0;
      &::before{@include before(); background-color:$color1; height:45%; top:55%;}
      
      .APLtext{@include center-block(); width:70%; margin-top:40px;
        p,h5{font-size:18px; font-family: $chels; color:$white; text-shadow: 0px 1px 1px rgba($black,.2); margin-top: 0;}
        span{ color: $yellow;}
        h5{ font-size: 21px; color: darken($color2,18%); color:$yellow; margin-bottom: 5px;}
      }
    }
    
    .TtextL, .TtextR {display: inline-block; width:70%;}
    .TtextR{width:25%; float:right; 
      p{color:$color1; font-weight: bold; text-shadow: 0px 1px 0px rgba($black,.1); margin-bottom: 15px; font-size:17px;}
    }
    
    .TtextL{width:65%;}
    .TtextR {width:30%;
      ul {margin-bottom:20px;}
    }
  }

  .floorplans{@include sec-default(); 
    h4{text-align: center; font-family: $chels; color: $color2;}
    a:hover{opacity: 1;}
    
    .photoMap{@include sec-default(); padding:50px 0 25px;  text-align: center; background-color: $cream;
      position: relative; z-index: 0;
      &::before{@include after(); background-color:$color1; height:60%; }
      
      .top{@include sec-default();}
      .inline{display: inline-block; font-family:$body; padding:0; width:57.6%; float:none;
        .mobv{display: none;}
      }
      .inline.left img{border-top: $border; border-left:$border;}
      .inline.right{width:42.3%;}
      
      h4.white{width:60%; @include center-block(); color:$white;}
    }
    
    .APLtext{
      @include sec-default(); padding:40px 0 50px; 
      p, li{ font-family: $chels; margin-top: 0; font-size:17px;}
      span{ color: darken($yellow, 9%); }
      h5{font-family: $chels; font-size: 18px; color: $color1; margin:0 0 5px;}
      ul{margin-bottom:30px;}

      .fpAccom{display: inline-block; }
      .fpAccom.one{width:55%;}
      .fpAccom.three{width:40%; float:right;
        p{font-size:15px;}
        h5{margin-bottom:12px;
          &.bmargin5{margin-bottom: 5px;}
        }
      }
    }
  }
  
  .ContactGSBR{@include sec-default(); padding:0px 0 0;}

  @include bp(tb) {
    .APtop{ padding:50px 0;}
    
    .floorplans{
      h4{font-size:1.15rem}
      .photoMap{padding:35px 0 20px;
        h4.white{width:80%; margin:25px auto 15px;}
      }
      
      .APLtext{ padding:40px 0 50px; }
    }
  }
  
  @include bp(tn) {
    .tabName{font-size:15px; }
  
    .APtop{ padding:35px 0 25px;
      // h1{font-size:1.5rem; margin-bottom: 10px;
      //   br{display: none;}
      // }
      .APTleft, .APTright {width:95%; @include center-block();}
      .APTleft{margin-top:0px;width:325px;
        // &::before{ display: none;}
      }
      
      .APTright {position: relative; z-index: 0; padding:12px 0 10px;
        &::before{@include before(); width:10%; background-color:$lt2; 
          left:-4%;
          // width:15%; left:4%; height:90%; top:5%;
        }
      }
    }
    
    .APlodge{ padding: 40px 0;
      .APLtop{
        padding-bottom:20px; margin-bottom:40px;
        position: relative; z-index: 0;
        &::before{@include before(); background-color:$color1; height:55%; top:45%;}
        
        .APLtext{width:95%; margin-top:25px;
          p{font-size:16px; }
          h5{font-size:19px;}
        }
      }
      
      .TtextL, .TtextR { @include sec-default();}
      .TtextR{margin-top:10px; text-align:center;
        p{font-size:16px;}
      }
      .msLink{@include center-block();}
      
      .photoGall {margin-top: 30px;}
    }  
    
    .floorplans{
      h4{font-size:1rem}
      .photoMap{padding:30px 0 20px;
        h4.white{@include sec-default(); margin:20px 0 15px;}
        
        .inline{
          .fwv{display: none;}
          .mobv{display: block;}
          
          &.left{width:63%;}
          &.right{width:36.2%;}
        }
      }
      
      .APLtext{ padding:25px 0 30px; 
        p,li{font-size:16px;}
        h5{font-size:17px;}
        .fpAccom.one, .fpAccom.three{width:80%; @include center-block();}
      }
    }
  }
  
  @media only screen and (max-width:767px) {
    .photoGall .photoLI{
      img{height: 370px;}
    }
  }
  
  @include bp(oc) {
    .photoGall .photoLI{
      img{height: 300px; width:auto;}
    }
    
    .APtop{ 
      h1{font-size:1.3rem;}
      .APTleft{width:250px;}
      .APTright {width:98%;}
    }
    
    .APlodge{  
      .APLtop{
        &::before{height:70%; top:30%;}
        .APLtext h5 {font-size:17px;}
      }
      .msLink{@include center-block(); width:70%;}
    }  
    
    .floorplans{
      .photoMap{padding:20px 0 20px;
        h4.white{@include sec-default(); margin:20px 0 5px;}
      }
      
      .APLtext{ padding:20px 0 5px; 
        ul{margin-bottom:15px;}
        p,li{font-size:15px;}
        h5{font-size:16px;}
        .fpAccom.one, .fpAccom.three{width:100%;}
      }
    }
  }
  
  @include bp(sm) {
    .photoGall .photoLI{
      img{height: 200px; width:auto;}
    }
  }
}