@import '../../assets/global.scss';
@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.Social{@include sec-default();
  li {display: inline-block; margin:5px;}

  &.light {
    a, span {color: $white;}
  }
  
  &.color1 {
    a, span {color:$color1;}
  }
  
  &.color2 {
    a, span {color:$color2;}
    svg{width:23px; height:23px;}
  }

  &.Home {    
    a, span {color: $white;}
    svg{width:35px; height:35px;}
    li {margin: 5px 8px;}
    
    @include bp(tb) {
      svg{width:30px; height:30px;}
    }
    
    @include bp(tn) {
      svg{width:25px; height:25px;}
    }
  }
}