@import '../../assets/global.scss';
@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

// HEADER
.Header,.HeaderDiv, nav, ul.Navbar-nav,.LogoHd {@include sec-default(); text-align: center; }
.Header {
  .bookBtn {display: none;}
  
  .MobTopbar{@include sec-default(); background: linear-gradient(45deg, $color1 30%, $color2 90%); padding:5px 0;
    .MbBtn{float:right; margin-right:8.5%; color:$white; font-size:15px; font-weight:600; text-shadow:0px 1px 1px rgba($black,.4);}
  }

  &.Reg{background-color: $white;
    .logoLink{width:20%; @include center-block();}
    .LogoImg {@include center-block(); padding-top: 15px;}
    .uk-navbar-center {text-align: center; @include center-block();}

    .bookBtn {display:block; position: absolute; z-index: 5; width:100px; right:15%; padding:5px 15px; margin-top:5%;
      color: $white; font-weight:bold;
      background: linear-gradient(45deg, $color1 30%, $color2 90%);
      box-shadow: 0px 5px 18px rgba($black,.25);
    }
  }

  .logoLink.HomeLogo{display: none;}
  .ocNavBtn {display: none;}
  .custNav>li>a {color: $black; font-size:16px; font-family: $chels;}
  .custNav>li.Gsbr>a {color: $color1; }

  // &.HomeHeader{position: absolute; z-index: 1;
  //   .logoLink.HomeLogo{display: block;}
  //   .logoLink.norm{display: none;}
  //   .HeaderDiv{width:75%; @include center-block(); width:1070px;}
  //   .LogoHd, nav{display:inline-block;}
  //   .LogoHd{width:24%; float:left;}
  //   nav {width:76%; float:right; margin-top:20px;
  //     ul{float:right;}
  //     li {display: inline-block; 
  //       a {color: $white;text-shadow: 0px 1px 1px rgba($black, .8); font-size:16.5px;}
  //     }
  //     li li a {font-size:15px;}
  //   }
  // }
  &.HomeHeader{position: absolute; z-index: 1;
    .logoLink.HomeLogo{display: block;}
    .logoLink.norm{display: none;}
    .HeaderDiv{width:75%; @include center-block(); width:1070px;}
    .LogoHd, nav{display:inline-block;}
    .LogoHd{width:24%; float:left;}
    nav {width:76%; float:right; margin-top:20px;
      ul{float:right;}
      li {display: inline-block; 
        a {color: $white;text-shadow: 0px 1px 1px rgba($black, .8); font-size:16px; }
      }
      li li a {font-size:15px;}
    }
  }

  .ocNavBtn {border:0; height:40px; width:40px;
    span{@include sec-default(); height:3px; margin-bottom: 4px; background-color: $black;}
  }

  .NavMobileBtn, .MobTopbar{display: none;}
  
  @media (max-width:1080px) {
    &.HomeHeader{position: absolute; z-index: 1;
      .HeaderDiv{@include sec-default();}
      .LogoHd{width:256px; @include center-block();}
      nav {@include sec-default(); margin-top:0px; text-align: center;
        ul{float:none;@include sec-default();}
        li {
          a { font-size:16.5px; display: block;}
        }
      }
    }
  }

  @include bp(br) {
    .MobTopbar{display: block;}
    
    &.HomeHeader, &.Reg {
      .navbarWrap {display:none;}
      .ocNavBtn {display: block;}
      .LogoImg{padding-top:8px;}
    }
    .NavMobileBtn{display: block;float:right; width:45px; position: absolute; z-index:5; top:95px; right:11%; 
      button:hover {background-color: transparent;}
    }
    .MnavControl {padding:0; min-width:45px;
      .menuIcon{font-size:1.9rem; color:darken($color2, 18%);}
    }
    
    &.Reg {
      .bookBtn {display: none;}
      .logoLink{width:260px;}
      // .HeaderDiv{padding: 10px 0 10px;}
    }
    
    &.HomeHeader {
      .NavMobileBtn{top:75px; background-color:$white;}
      .LogoHD{width:260px;}
    }
  }
  
  @include bp(ph) {
    .NavMobileBtn{right:7%; top:75px;}
    &.Reg{
      .logoLink{width:220px;}
    }
    &.HomeHeader {
      .LogoHd {width:220px;}
    }
  }
}
.cNavDrawer{color: inherit;}
.SideNavList{background-color: $color2; padding:10px 15px; width:275px;
  // height:100vh;
  li {width:100%; margin: 10px 0 20px;}
  li a {font-size:15px;color:$white;}
  li li a {font-size:15px;}

  .closeIcon {position: absolute; color:$white; right:20px; cursor: pointer;}
  @include bp(sm) {
    // width:250px;
  }
}