@import '../../../assets/global.scss';
@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';

.MissionGoalsObjectives{@include sec-default();
  h2,h3,h4{margin-bottom: 10px;}
  p{margin-top:0;}
  h3{font-size:1.5rem; font-weight: bold; margin-bottom: 0; text-transform: uppercase;letter-spacing: 1px; border-bottom: 0;}

  .Mission, .Goals {
    @include sec-default(); text-align: center; padding:50px 0 30px;
  	h2{font-family: $chels;font-size: 1.75rem; margin-top:0;color: $color2;}
    hr{@include center-block();margin-top:10px;}
    p{font-size:17px;}
  }
  
  .Goals{padding:0px 0 50px;text-align:left;
    h3,p{display: inline-block;}
    h3{font-size:1.6rem; width:30%; margin-top:5%; 
      margin-top:2%; font-size:2em; line-height:1.2em;
      //for med3 width:21%;margin-left:5%;
      width:20%; margin-left:8%; vertical-align: top; margin-top:1%;
    }
    p{float:right; width:68%; text-align: left;
      padding-left:10px; position: relative; z-index: 0;
      //for med3 width:77%;
      width:70%; float:none;
      &::before{ @include before(); width:5px; left: -10px; background-color:$lt2;}
    }
  }

  
  .Objectives{@include sec-default(); margin-top:40px; 
    h3{text-align:center;}
  }
  .medODef{width:1000px; @include center-block();}
  .MsObj3{@include sec-default(); margin-bottom: 80px; padding:45px 0 50px;
    position: relative; z-index:0;
    &::before{@include before(); width:25%; left:80%; 
      background-color: darken($color2, 18%);
    }

    .MsoInner, img {display: inline-block; }
    .MsoInner{ width:50%; margin-top:40px;}
    img{width:40%; float: right; margin-right: 5%;
      // box-shadow: 0px 5px 18px rgba($black,.25);
    }

    .objNum{
      position: absolute; z-index: -1; top:0; line-height: .7em;
      color: #ddd; font-weight: bold; font-size: 95px; text-transform: uppercase;
      // color:$lt2;
      opacity: .6;
      span{font-size:16px; letter-spacing: 2px; color: $black;}
    }
    h4{font-weight:bold; font-size:1.8rem; margin:0px 0 30px; text-transform: capitalize; color:darken($color2, 15%);}
    h5{font-family: $chels;}
    .MsTerms{font-size:.9rem; color:#696969; text-transform: capitalize;}

    &:nth-child(2n+2) {
      &::before{left:-6%;}
      .MsoInner {float:right; }
      img {float:left; margin-right: 0; margin-left: 4%}
    }
  }
  
  @media (max-width: 1200px) {
    .MsObj3{
      &::before{left:75%;}
      &:nth-child(2n+2)::before{left:0;}
    }
  }

  @include bp(tb) {
    .Mission, .Goals {padding:20px 0;
      h2{font-size: 1.5rem; }
    }
    .Goals{margin:20px 0;}

    .medODef{width:90%;}
    .MsObj3{ margin-bottom: 50px; padding:45px 0 50px;
      &::before{left:78%;}
      &:nth-child(2n+2){
        img{margin-left:3%;}
        &::before{left:-3%;}
      }

      .MsoInner{ width:53%;}
      img{margin-right: 3%;}
      h4{font-size:1.5rem;}
      h5,p{font-size:15px; margin-top:0px;}
      .objNum{font-size:75px; top:15px;}
    }
  }

  @include bp(br) {
    .MsObj3{
      &::before{left:75%;}
      &:nth-child(2n+2)::before{left:0;}

      margin-bottom: 50px; padding:15px 0 30px;
      .MsoInner{width:60%;}
      img{margin-right: 4%; width:33%; margin-top:20px}

      &:nth-child(2n+2){
        img{margin-left:4%;}
        &::before{left:0;}
      }

      h4{font-size:1.35rem;}
      h5,p{margin-bottom:15px;}
      .objNum{font-size:60px; top:0px;}
    }
  }

  @include bp(tn) {
    padding-bottom:40px;

    h3{font-size:1.1rem;}
    .Mission, .Goals {padding:10px 0;
      h2{font-size: 1.2rem; }
      p{font-size:16px;}
    }
    .Goals{margin:15px 0 0px;
      h3, p{@include sec-default(); margin:0; padding:0; text-align: center;
        &::before{display: none;}
        br {display: none;}
      }
      h3{font-size:1.3rem; margin-bottom: 10px;}
      p{font-size:15px;}
    }

    .MsObj3{
      margin-bottom: 0px; padding:0px 0 10px;
      &::before, &:nth-child(2n+2)::before{left:76%; height:40%; top:61%;}
      .MsoInner, &:nth-child(2n+2) .MsoInner {width:70%; display:block; float:left; padding-right:20px;}
      img, &:nth-child(2n+2) img{ width:28%; float:right; margin-top:-20%; margin-right: 1%;}

      &:nth-child(2n+2){
        img{ width:28%; float:right; margin-top:-20%; margin-right: 1%;}
      }

      h4{font-size:1.35rem; margin-top: 15px;}
      h5,p{margin-bottom:15px;}
      .objNum{font-size:60px; top:0px;}
    }
  }

  @include bp(pl) {
    .Mission h2{font-size: 1.1rem; }
    .MsObj3{
      margin-bottom: 15px; padding:10px 0;border-bottom:1px solid rgba($black,.1);
      &::before, &:nth-child(2n+2)::before, img, &:nth-child(2n+2) img{display: none;}
      .MsoInner, &:nth-child(2n+2) .MsoInner {width:90%; padding-right:0px;margin: 0; @include center-block();}

      h4{font-size:1.15rem; margin: 25px 0 15px 30px; color:$color1;}
      h5,p{margin-bottom:10px;}
      .objNum{font-size:40px; opacity: .8;
        span {font-size: 11px; color: rgba($black,.6);}
      }
    }
  }

  @include bp(mb) {
    h3{font-size: 1rem;}
    .Mission, .Goals {
      h2{font-size: 1.1rem; }
      p{font-size:15px;}
    }
  }

}








